/* navbar style is here */
.navbar {
    background-color: #A5A6F6 !important;
    height: 105px;
}

.navbar-light .collapse {
    justify-content: center;
}

/* active navbar style is here */
.navbar-light .navbar-nav .active>.nav-link{
    color: #5D5FEF !important;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #E0E0E0;
    text-decoration: none;
    margin-right: 20px;
}
.dropdown-toggle::after {
    display: none !important;
}

/* button style is here */
.navbar-light .signup-button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    width: 150px;
    height: 46px;
    border-radius: 4px;
}

@media screen and (max-width:1000px) {
    .navbar-light #search {
        display: none;
    }
}

/* main div style is here */
.main {
    min-height: 615px;
    background: #A5A6F6;
    padding: 40px 0px 30px 0px;
}

.main-subtitle::before {
    content: "";
    width: 18px;
    height: 2px;
    background-color: #7879F1 !important;
    position: absolute;
    margin-top: 21px;
    margin-left: -25px;
}

.main-subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.7;
    margin-left: 21px;
    margin-top: 60px;
    margin-bottom: 0 !important;
}

.main-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #FFE9E9;
    max-width: 490px;
    margin-top: 20px;
}

.main-button {
    padding: 0 40px;
    height: 45px;
    margin-top: 25px !important;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
}

#discover-btn {
    color: #A5A6F6 !important;
    box-shadow: 0px 16px 30px rgba(85, 15, 15, 0.07);
    border-radius: 4px;
    margin-right: 20px !important;
}

.main-image {
    width: 480px;
    height: 515px;
    margin-left: 40px;
    position: inherit;
}

@media screen and (max-width:1200px) {
    .main-title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width:992px) {
    #image-col {
        margin-top: 50px;
    }

    .cards-row {
        margin-top: 50px;
    }
}

@media screen and (max-width:575px) {
    .main-image {
        margin-left: 0;
        width: 500px;
        height: 100%;
    }

    .cards-row {
        margin-top: 30px;
    }
}

@media screen and (max-width:515px) {
    .main-image {
        margin-left: 0;
        width: 400px;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:415px) {
    .main-image {
        margin-left: 0;
        width: 310px;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:375px) {
    .main-subtitle {
        margin-top: 20px;
    }
}

/* our way style is here */
.our-way {
    margin-top: 70px;
}

.our-way-small-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 44px;
    text-transform: uppercase;
    color: #A5A6F6;
    text-align: center;
    margin-bottom: 0;
}

.our-way-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #21214D;
    text-align: center;
}

.our-way-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #A1A1A1;
    max-width: 660px;
    margin: 0 auto;
}

/* our way inner card style is here  */
.top-image-left {
    margin-left: 70px;
}

.top-image-right {
    margin-right: 70px;
    float: right;
}

.our-way-inner .card {
    border: none;
    margin-top: -95px;
    background-color: transparent;
    min-height: 450px;
}

.our-way-inner #center-card {
    margin-top: -55px !important;
}

.our-way-inner .card-img-top {
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-shadow: 8px 20px 30px rgba(152, 152, 152, 0.04);
    width: 75px;
    border-radius: 36px;
    margin: 0 auto;
    display: block;
    position: inherit;
    z-index: 9999;
}

.our-way-inner .card-body {
    background-color: #FCFCFC !important;
    border-radius: 8px !important;
    padding: 60px 25px 0px 25px !important;
    margin-top: 35px;
    z-index: 999;
    position: absolute;
    min-height: 295px !important;
}

.our-way-inner .card-body .card-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #61656B;
    text-align: center;
}

.our-way-inner .card-body .card-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #A1A1A1;
}

.our-way-inner .card .card-line {
    width: 100px;
    height: 8px;
    background: #7879F1;
    top: 247px;
    position: inherit;
    z-index: 9999;
    margin: 0 auto;
}

@media screen and (max-width:992px) {
    .top-image-left {
        display: none;
    }

    .top-image-right {
        display: none;
    }

    .our-way-inner {
        margin-top: 115px !important;
    }

    .our-way-inner #center-card {
        margin-top: -95px !important;
    }
}

/* employee style is here */
.employee {
    margin-top: 50px;
    background-color: #FDFDFD !important;
    padding: 60px 10px 40px 10px !important;
}

.employee-content {
    padding: 30px 15px 0 10px;
}

.employee-content-small-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    color: #A5A6F6;
    opacity: 0.7;
    margin-bottom: 0;
}

.employee-content-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #21214D;
}

.employee-content-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #383838;
}

/* employee content inner style is here*/
.employee-content-inner {
    display: flex;
    justify-content: space-between;
}

.employee-content-inner-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    color: #A5A6F6;
}

.employee-content-inner-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 40px;
    color: #9B9B9B;
    opacity: 0.7;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .employee-main-image {
        margin-right: 22px !important;
        margin-top: -40px !important;
        width: 100% !important;
        height: 80% !important;
    }
}

@media screen and (max-width:600px) {
    .employee-image {
        padding-right: 0;
        margin-left: 10px;
    }
}

/* staff style start from here  */
.staff {
    margin-top: 100px;
}

.staff-blue-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    text-transform: uppercase;
    color: #A5A6F6;
    opacity: 0.7;
    margin-bottom: 0;
}

.staff-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #21214D;
}

.staff-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #A1A1A1;
}

.staff-button {
    background: #7879F1;
    box-shadow: 0px 16px 30px rgba(85, 15, 15, 0.04);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    color: #FFFFFF;
    padding: 5px 50px;
}

/* staff inner style start from here */
.staff-inner .card {
    min-height: 340px !important;
}

.staff-inner .card .card-img-top {
    width: 50px !important;
    margin-left: 18px;
    margin-top: 30px;
}

.staff-inner .card .card-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-transform: uppercase;
    color: #61656B;
}

.staff-inner .card .card-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #A1A1A1;
}

.staff-inner .card .card-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #5D5FEF;
}

@media screen and (max-width:1200px) {
    .staff-dots {
        margin-left: 200px !important;
    }
}

@media screen and (max-width:992px) {
    .staff-dots {
        margin-left: 240px !important;
    }
}

@media screen and (max-width:768px) {
    .colorfull-card {
        margin-top: 20px !important;
    }
}

@media screen and (max-width:576px) {
    .staff-blue-text {
        text-align: center;
    }

    .staff-button {
        margin: 0 auto;
        display: block;
    }

    .staff-title {
        text-align: center;
    }

    .staff-text {
        text-align: center;
    }
}

/* chooce Lotus style start from here*/
.chooce-lotus {
    margin-top: 70px;
    background-color: #FDFDFD !important;
    padding-top: 90px;
    padding-bottom: 75px;
}

.chooce-lotus-blue-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    color: #A5A6F6;
    opacity: 0.7;
    margin-bottom: 0;
}

.chooce-lotus-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #21214D;
}

.chooce-lotus-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #AAAAAA;
}

.chooce-lotus-button {
    background: #A5A6F6;
    box-shadow: 0px 16px 30px rgba(85, 15, 15, 0.04);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    color: #FFFFFF;
    padding: 3px 50px;
}

@media screen and (max-width:1200px) {
    .choce-1 {
        width: 100%;
        margin-left: 0px !important;
    }
}

@media screen and (max-width:992px) {
    .choce-2 {
        width: 85%;
    }

    .choce-3 {
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .choce-1 {
        width: 80%;
        margin-right: auto !important;
        margin-left: auto !important;
        display: block;
    }

    .choce-2 {
        width: 60%;
        position: inherit !important;
        margin-top: 15px !important;
        margin: 0 auto;
        display: block;
    }

    .choce-3 {
        width: 80%;
        float: unset !important;
        margin: 0 auto;
        display: block;
    }

    .choce-4 {
        width: 40%;
        margin-top: 15px !important;
        margin: 0 auto;
        display: block;
    }

    .chooce-lotus-button {
        margin: 0 auto;
        display: block;
    }

    .chooce-lotus-blue-text {
        margin-top: 20px;
        text-align: center;
    }

    .choce-nok {
        margin-left: 5% !important;
        margin-top: -20px !important;
    }
}

/* creative person style start from here*/
.creative-person {
    background-color: #FBFBFB !important;
    padding-top: 50px;
    padding-bottom: 50px;
}

.creative-person-team {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    color: #A5A6F6;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 0;
}

.creative-person-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    text-align: center;
    color: #21214D;
}

.creative-person-title-inner {
    color: #7879F1 !important;
    text-transform: uppercase;
}

.creative-person-text {
    max-width: 1000px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #A1A1A1;
    margin: 0 auto;
}

/* creative person cards style is here*/
.creative-person .card {
    background-color: transparent !important;
    border: none;
}

.creative-person .card .card-image {
    width: 150px !important;
    margin: 0 auto;
    z-index: 9;
}

.creative-person .card .card-body {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-top: 90px;
    padding-bottom: 30px;
    margin-top: -70px;
}

.creative-person .card .card-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #161C51;
}

.creative-person .card .card-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.creative-person .card .card-links {
    text-align: center;
    margin-top: 35px;
}

.creative-person .card .card-links .center {
    margin: 0 17px;
}

@media screen and (max-width:600px) {
    .creative-person {
        padding: 40px 15px;
    }
}

/* testimonial style start from here */
.testimonial {
    background-color: #A5A6F6 !important;
    padding-top: 60px;
    padding-bottom: 60px;
}

.testimonial-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 0;
}

.testimonial-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 50px;
    color: #FFFFFF;
}

/* testimonial card of slider style start from here  */

.testimonial-card {
    background-color: #FFFFFF !important;
    padding: 25px;
    border-radius: 8px !important;
    max-width: 530px;
    margin-top: 40px;
    margin-right: 20px;
}

.testimonial-card .stars {
    color: #F7AA02;
}

.testimonial-card .stars .fa-star {
    margin-right: 10px;
}

.testimonial-card .text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #AAAAAA;
}

.testimonial-card .media-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    color: #161C51;
}

.testimonial-card .media-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 0;
    margin-top: -3px;
}

.swiper-next {
    position: absolute;
    right: 120px;
    top: 60px;
}

.swiper-next img {
    width: 80%;
    padding: 8px 10px;
    background-color: rgb(255 254 254 / 44%);
}

.swiper-prev {
    position: absolute;
    right: 190px;
    top: 60px;
}

.swiper-prev img {
    width: 80%;
    padding: 8px 10px;
    background-color: rgb(255 254 254 / 44%);
}

@media screen and (max-width:770px) {
    .swiper-next {
        position: absolute;
        right: 5px;
        top: 10px;
    }

    .swiper-prev {
        position: absolute;
        right: 70px;
        top: 10px;
    }

    .testimonial {
        padding: 15px;
    }
}

/* interested style start from here */
.interested {
    background-color: #F9F9F9 !important;
    padding: 90px 10px 75px 10px;
}

.interested-inner {
    background: #FDFDFD;
    box-shadow: 0px 10px 50px rgba(106, 106, 106, 0.05);
    border-radius: 8px;
    padding: 40px 60px 40px 60px;
    position: relative;
}

.interested-inner-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #21214D;
}

.interested-inner-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    color: #A1A1A1;
    margin-bottom: 3px;
}

.interested-inner-button {
    background: #A5A6F6;
    box-shadow: 0px 16px 30px rgba(85, 15, 15, 0.04);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    color: #FFFFFF;
    padding: 3px 45px;
    margin-top: 45px;
    float: right;
}

@media screen and (max-width:600px) {
    .interested {
        padding: 35px;
    }

    .interested-inner {
        padding: 40px 20px 40px 20px;
    }
}

@media screen and (max-width:360px) {
    .interested-inner-title {
        font-weight: 600;
        font-size: 27px;
        line-height: 40px;
    }
}

/* footer style is here */
.page-footer {
    background-color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 10px;
}

.footer-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #A1A1A1;
    margin-top: 35px;
}

.footer-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    color: #21214C;
}

.footer-title::before {
    content: '';
    position: absolute;
    margin-top: 35px;
    background: #7879F1;
    width: 42px;
    height: 2px;
}

.footer-links {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #A1A1A1 !important;
    display: block;
}

.footer-links:hover {
    text-decoration: underline !important;
    cursor: pointer;
}