/* navbar style is here */
.navbar {
    background-color: #A5A6F6 !important;
    min-height: 105px;
}

.navbar-light .collapse {
    justify-content: center;
}

/* active navbar style is here */
.navbar-light .navbar-nav .nav-link.active::before {
    position: absolute;
    content: url(../images/Ellipse\ 161.png);
    margin-top: 22px;
    margin-left: 37px;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #5D5FEF !important;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: #E0E0E0 !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    border: 1px solid #ffffff5e;
    background: #a5a6f6;
    padding: 0;
    margin-top: -2px;
    max-width: 180px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
    color: #E0E0E0;
    padding: 3px 10px
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
    background: #a5a6f6;
    color: #5D5FEF !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #E0E0E0;
    text-decoration: none;
    margin-right: 20px;
}

/* button style is here */
.navbar-light .signup-button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    width: 150px;
    height: 46px;
    border-radius: 4px;
}

.dropdown-toggle::after {
    display: none !important;
}

/* contact main style is here */
.contact-main {
    min-height: 230px;
    background-color: #A5A6F6 !important;
}

.contact-main-title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-family: 'Open Sans';
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.96px;
    align-self: center;
    padding-top: 65px;
}

/* form section style is here */
.form-section {
    margin-top: 70px;
}

.form-small-title {
    color: var(--iris-60, #A5A6F6);
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 44px;
    text-transform: uppercase;
    opacity: 0.699999988079071;
    margin-bottom: 2px;
}

.form-title {

    color: #21214D;
    font-size: 40px;
    font-family: 'Open Sans';
    font-weight: 700;
    padding-right: 5px;
}

.form-text {
    color: #A1A1A1;
    font-size: 18px;
    font-family: 'Open Sans';
    line-height: 34px;
}

/* form inner style is here */
.form-inner-title {
    color: #21214C;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 500;
    line-height: 34px;
}

.form-inner-text {
    color: #A1A1A1;
    font-size: 14px;
    font-family: 'Open Sans';
    line-height: 34px;
    margin-left: 44px;
}

.form-inner-img {
    padding: 7px;
    background-color: #5D5FEF;
    border-radius: 20px;
    width: 30px;
    margin-right: 14px;
}

/* form style is here */
.form-style .form-control {
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #F8F8F8;
    background: #F9F9F9;
    padding: 13px;
}

.form-style .form-control::placeholder {
    color: var(--gray-900, #111827);
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 34px;
    padding-left: 8px !important;
}

.form-button {
    background: #7879F1;
    box-shadow: 0px 16px 30px rgba(85, 15, 15, 0.04);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    color: #FFFFFF;
    width: 190px;
    height: 52px;
    margin-top: 40px;
}

/* office section is here */
.office {
    background: #FBFBFB;
}

.office-title {
    color: #21214D;
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: 700;
}

.office-text {
    color: #A1A1A1;
    font-size: 18px;
    font-family: 'Open Sans';
    line-height: 34px;
}

/* office inner style is here */
.office-title-inner {
    color: #21214C;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 700;
    line-height: 34px;
}

.office-text-inner {
    color: #A1A1A1;
    font-size: 13px;
    font-family: 'Open Sans';
    line-height: 34px;
    margin-left: 44px;
    max-width: 250px;
}

.office-img-inner {
    padding: 7px;
    background-color: #5D5FEF;
    border-radius: 20px;
    width: 30px;
    margin-right: 14px;
}

/* question style is here */
.question-small-title {
    color: var(--iris-60, #A5A6F6);
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans';
    line-height: 44px;
    text-transform: uppercase;
    opacity: 0.699999988079071;
    margin-bottom: 3px !important;
}

.question-title {
    color: #21214D;
    text-align: center;
    font-size: 40px;
    font-family: 'Open Sans';
    font-weight: 700;
}

.question-text {
    color: #A1A1A1;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 34px;
    max-width: 1000px;
    margin: 0 auto;
}

.question .list-group-item {
    color: #A1A1A1;
    font-size: 13px;
    font-family: 'Open Sans';
    line-height: 20px;
    border: 1px solid #CBCBCC;
    padding: 15px 10px 15px 20px;
    margin-top: 15px;
    border-radius: 3px;
}

.question .list-group-item.active {
    background: rgba(93, 95, 239, 0.10) !important;
    color: var(--iris-100, #5D5FEF) !important;
    font-weight: 500;
    border-left: 8px solid var(--iris-100, #5D5FEF);
    padding-left: 13px;
}

/* question inner style is here */
.question-inner {
    align-self: center;
    padding-left: 40px;
}

.question-inner-title {
    color: #21214D;
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 700;
}

.question-inner-text {
    color: #A1A1A1;
    font-size: 18px;
    font-family: 'Open Sans';
    line-height: 34px;
}

/* interested style start from here */
.interested {
    background-color: #F9F9F9 !important;
    padding: 90px 10px 75px 10px;
}

.interested-inner {
    background: #FDFDFD;
    box-shadow: 0px 10px 50px rgba(106, 106, 106, 0.05);
    border-radius: 8px;
    padding: 40px 60px 40px 60px;
    position: relative;
}

.interested-inner-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #21214D;
}

.interested-inner-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    color: #A1A1A1;
    margin-bottom: 3px;
}

.interested-inner-button {
    background: #A5A6F6;
    box-shadow: 0px 16px 30px rgba(85, 15, 15, 0.04);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    color: #FFFFFF;
    padding: 3px 45px;
    margin-top: 45px;
    float: right;
}

/* footer style is here */
.page-footer {
    background-color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 10px;
}

.footer-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #A1A1A1;
    margin-top: 35px;
}

.footer-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    color: #21214C;
}

.footer-title::before {
    content: '';
    position: absolute;
    margin-top: 35px;
    background: #7879F1;
    width: 42px;
    height: 2px;
}

.footer-links {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #A1A1A1 !important;
    display: block;
}

.footer-links:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

/* media quries  is here */

@media screen and (max-width:1000px) {
    .navbar-light #search {
        display: none;
    }

    .navbar {
        padding-top: 20px;
        border-bottom: 1px solid #bbbcf8;
    }
}

@media screen and (max-width:992px) {
    .navbar-light .navbar-nav .nav-link.active::before{
        display: none;
    }
    .office-title {
        margin-top: 45px;
    }
}

@media screen and (max-width:768px) {
    .question-inner {
        margin-top: 30px;
    }

    .question {
        padding-right: 10px;
    }
}

@media screen and (max-width:568px) {
    .office-img {
        position: inherit !important;
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width:576px) {
    .interested {
        padding: 35px;
        padding-top: 50px !important;
    }

    .interested-inner {
        padding: 40px 20px 40px 20px;
    }

    .big-col {
        margin-right: 15px;
    }
    .footer-title {
        margin-top: 15px;
    }
}

@media screen and (max-width:470px) {
    .question-title {
        font-size: 30px;
    }

    .question-text {
        font-size: 14px;
    }
}

@media screen and (max-width:360px) {
    .interested-inner-title {
        font-weight: 600;
        font-size: 27px;
        line-height: 40px;
    }
}