/* navbar style is here */
.navbar {
    background-color: #A5A6F6 !important;
    min-height: 105px;
}

.navbar-light .collapse {
    justify-content: center;
}

/* active navbar style is here */
.navbar-light .navbar-nav .nav-link.active:focus {
    color: #5D5FEF !important;
}

.navbar-light .navbar-nav .nav-link.active::before {
    position: absolute;
    content: url(../images/Ellipse\ 161.png);
    margin-top: 22px;
    margin-left: 35px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #5D5FEF !important;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: #E0E0E0 !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #5D5FEF !important;
    text-decoration: none;
    background-color: #a5a6f6;
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    border: 1px solid #ffffff5e;
    background: #a5a6f6;
    padding: 0;
    margin-top: -2px;
    max-width: 180px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
    color: #E0E0E0;
    padding: 3px 10px
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
    background: #a5a6f6;
    color: #5D5FEF !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #E0E0E0;
    text-decoration: none;
    margin-right: 20px;
}

/* button style is here */
.navbar-light .signup-button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    width: 150px;
    height: 46px;
    border-radius: 4px;
}

.dropdown-toggle::after {
    display: none !important;
}

/* staff main style is here */
.staff-main {
    min-height: 230px;
    background-color: #A5A6F6 !important;
}

.staff-main-title {
    color: #FFF;
    text-align: center;
    font-size: 45px;
    font-family: 'Open Sans';
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.96px;
    align-self: center;
    padding-top: 40px;
}

.staff-main-text {
    color: #E5E7EB;
    text-align: center;
    font-size: 14px;
    font-family: 'Sarabun';
    line-height: 20px;
}

/* images section style start from here*/
.images-section-img {
    width: 100%;
}

.images-section-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
}

.images-section-title {
    color: var(--gray-800, #1D2939);
    font-size: 31px;
    font-family: 'Open Sans';
    font-weight: 700;
    letter-spacing: -0.64px;
    margin-top: 40px;
    margin-left: 25px;
}

.images-section-title-span {
    width: 7px;
    height: 65px;
    background: var(--iris-100, #5D5FEF);
    position: absolute;
}

/* footer style is here */
.page-footer {
    background-color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 10px;
}

.footer-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #A1A1A1;
    margin-top: 35px;
}

.footer-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    color: #21214C;
}

.footer-title::before {
    content: '';
    position: absolute;
    margin-top: 35px;
    background: #7879F1;
    width: 42px;
    height: 2px;
}

.footer-links {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #A1A1A1 !important;
    display: block;
}

.footer-links:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

/* media queries start from here */
@media screen and (max-width:1200px) {
    .staff-main-title {
        font-size: 40px;
        line-height: 62px;
    }
}

@media screen and (max-width:1000px) {
    .navbar {
        padding-top: 20px;
        border-bottom: 1px solid #bbbcf8;
    }

    .navbar-light #search {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .navbar-light #search {
        display: none;
    }
    .navbar-light .navbar-nav .nav-link.active::before{
        display: none;
    }
    .staff-main-title {
        font-size: 33px;
        line-height: 55px;
    }
}

@media screen and (max-width:576px) {
    .footer-title {
        margin-top: 15px;
    }
}

@media screen and (max-width:770px) {
    .staff-main-title {
        font-size: 30px;
        line-height: 45px;
    }
}

@media screen and (max-width:436px) {
    .staff-main-title {
        font-size: 25px;
        line-height: 35px;
    }
}